/* Default Styles */
header {
    position: relative;
    width: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1.7rem;
    font-weight: bold;
    font-size: 15px;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    margin-left: auto;
}

.navbar .nav-links li {
    margin: 0 20px;
}

.navbar .nav-links a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.navbar .nav-links a:hover {
    color: #ffcc66;
    transition: 0.5s;
}

.navbar .nav-links a.active {
    color: #ffcc66;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 11px;
}

#menu-icon {
    display: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 1.7rem;
    left: 1.7rem;
}

#close-icon {
    display: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 1.7rem;
    left: 1.7rem;
}

/* Media Query for smaller screens */
@media (max-width: 600px) {
    .navbar {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        background-color: #333; /* Ensure background color is set here as well */
    }

    .navbar .nav-links {
        flex-direction: column;
        width: 100%;
        margin-top: 3rem; /* Added margin-top to avoid overlapping with the close button */
    }

    .navbar .nav-links li {
        margin: 10px 0;
    }

    #menu-icon {
        display: block;
    }

    .navbar.active {
        display: flex;
    }

    #close-icon {
        display: block;
    }
}
